		*{
			padding: 0;
			margin: 0;
		}
		.header{
			height:100px;
			background-color: aliceblue;
		}
		.menu,.tel{
			float: left;
		}
		.menu{
			width: 14%;
			height: 629px;
			background-color: #333333;
		}
		.tel{
			width: 86%;
			height: 629px;
			/* background: url(../img/456.jpg)center/cover no-repeat; */
		}
		.title{
			width: 14%;
			height: 100px;
			float: left;
			line-height: 100px;
			text-align: center;
			font-size: 17px;
			font-family: "微软雅黑";
			color: #FFFFFF;
			background-color: #333333;
		}
		.nav{
			width: 80%;
			height: 100px;
			float: left;
		}
		.nav_item{
			width: 150px;
			height: 20px;
			float: left;
			text-align: center;
			margin-top: 40px;
			border-right: 1px solid black;
		}
		.nav_item:last-child{
			border: none;
		}
		.nav_item:first-child{
			margin-left: 300px;
		}
		.nav_item1{
			height: 20px;
			text-align: center;
			margin-top: 50px;
		}
		.a1{
			text-decoration: none;
			font-family: "楷体";
		}
		.a2{
			text-decoration: none;
			line-height: 70px;
			color: #FFFFFF;
			font-family: "楷体";
		}
		.sh1{
			margin-left: 220px;
			margin-top: 50px;
			width: 820px;
			height: 450px;
			border: darkgrey solid 1px;
			/* box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0.22); */
		}
		.tab1{
			margin-top: 150px;
			margin-left: 250px;
		}
		.trs{
			margin: 0 auto;
		}
		.td1{
			font-family: "楷体";
			color: #000000;
			font-size: 20px;
		}
		.td2{
			font-family: "楷体";
			font-size: 18px;
		}
		.is{
			width: 160px;
		}
		.nav_item1:hover{
			height: 70px;
			text-align: center;
			margin-top: 50px;
			background-color: darkorange;
		}